.Comunicados {
    padding: 4rem 2rem;
    background-color: #f9f9f9;
}

.secContainer {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.secHeader {
    margin-bottom: 2rem;

    .orangeText {
        color: #ff6600;
        font-weight: bold;
        font-size: 1.5rem;
    }

    .title {
        font-size: 2.5rem;
        margin: 0.5rem 0;
        font-weight: 600;
    }

    p {
        margin-top: 0.5rem;
        font-size: 1.1rem;
        color: #555;
    }
}

.comunicadosList {
    text-align: left; // Alinha o texto à esquerda para uma melhor leitura

    .comunicado {
        margin-bottom: 2rem;
        padding: 1.5rem;
        border: 1px solid #ccc;
        border-radius: 8px;
        background-color: #f3f3f3;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

        .comunicadoTitle {
            font-size: 1.8rem;
            color: #333;
            margin-bottom: 0.5rem;
        }

        .comunicadoDate {
            font-size: 0.9rem;
            color: #888;
            margin-bottom: 1rem;
        }

        .comunicadoContent {
            font-size: 1rem;
            color: #555;
        }
    }
}
