.footer {
  padding: 1.5rem 0;
  width: 100%;
  background: linear-gradient(40deg, #7d0e0e, #4a0b0b);

  .secContainer {
    display: grid;
    gap: 1rem; /* Espaçamento entre as seções */
    text-align: center;
    align-items: start; /* Mantenha o alinhamento para o início */
    margin-top: 15px;

    .logoDiv {
      padding: 1rem;

      .footerLogo {
        display: flex;
        color: var(--primaryColor);
        font-weight: 500;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        padding-bottom: 0.5rem;
        font-size: var(--h1FontSize);

        .img {
          width: 320px;
        }
      }

      p {
        max-width: 200px;
        text-align: center;
        margin: auto;
        padding: 1rem 0;
        line-height: 1rem;
        color: black;
        font-weight: 500;
      }

      .socials {
        display: flex;
        gap: 0.5rem;
        margin: auto;
        align-items: center;
        justify-content: center;

        .icon {
          font-size: 30px;
          background: var(--primaryColor);
          border-radius: 0.7rem;
          padding: 7px;
          color: var(--whiteColor);
          transition: background 0.3s;

          &:hover {
            background: var(--primaryColorDark);
          }
        }
      }
    }

    .footerLinks {
      display: grid;
      row-gap: 1rem;
      justify-content: center;
      align-items: center;
      margin-top: 2.5rem;

      .linkTitle {
        padding-bottom: 0.5rem;
        color: var(--primaryColorDark);
        font-weight: 600;
        font-size: 30px;
      }

      a {
        color: #ff6600; /* Cor laranja */
        text-decoration: none; /* Remove o sublinhado padrão */
        transition: color 0.3s; /* Transição suave */
        justify-content: center;
      }

      a:hover {
        color: #8f3b03; /* Um tom mais escuro de laranja ao passar o mouse */
        text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
      }
    }
  }

  .footerReact {
    grid-column: 1 / -1; /* Faz com que a copyright ocupe toda a linha */
    text-align: center; /* Centraliza o texto */
    padding: 1rem; /* Espaçamento interno */
    width: 100%; /* Largura total */
    margin: 0 auto;

    p {
      color: black;
      font-family: "Montserrat", Sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 13px;
    }
  }
}

@media screen and (min-width: 640px) {
  .footer {
    .secContainer {
      grid-template-columns: repeat(2, 1fr); /* Duas colunas em telas maiores */
      align-items: flex-start; /* Alinha os itens no início */
    }
  }
}

@media screen and (min-width: 960px) {
  .footer {
    .secContainer {
      padding: 2rem 0;
    }
  }
}
