@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700;900&display=swap");
:root {
  --primaryColor: hsl(228, 66%, 53%);
  --primaryColorLight: hsl(223, 100%, 97%);
  --primaryColorDark: hsl(216, 58%, 28%);
  --GradientLight: rgb(114, 145, 255);
  --bgColor: hsl(0, 0%, 100%);
  --formColor: hsl(20, 42%, 87%);
  --whiteColor: hsl(240, 25%, 97%);
  --blackColor: hsl(0, 0%, 18%);
  --blackColorLight: hsl(233, 3%, 51%);
  --shadowColor: hsl(219, 63%, 95%);
  --inputColor: hsl(330, 12%, 97%);
  --cardColor: hsl(300, 3%, 94%);
  --orangeColor: hsl(24, 84%, 53%);
  --biggestFontSize: 2rem;
  --h1FontSize: 1.6rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
  --borderRadius: 1rem;
}

.footer {
  padding: 1.5em 0 1.5em 0;
  width: 100%;
  background: linear-gradient(40deg, #7D0E0E, #4A0B0B);
}
.footer .secContainer {
  margin-top: 0;
  display: grid;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
  align-items: center;
}
.footer .secContainer .logoDiv {
  padding: 1rem;
}
.footer .secContainer .logoDiv .footerLogo {
  display: flex;
  color: var(--primaryColor);
  font-weight: 500;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  padding-bottom: 0.5rem;
  font-size: var(--h1FontSize);
}
.footer .secContainer .logoDiv .footerLogo .img {
  width: 320px;
}
.footer .secContainer .logoDiv p {
  max-width: 200px;
  text-align: center;
  margin: auto;
  padding: 1rem 0;
  line-height: 1rem;
  color: var(--primaryColorDark);
  opacity: 0.5;
  font-weight: 500;
}
.footer .secContainer .logoDiv .socials {
  display: flex;
  gap: 0.5rem;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.footer .secContainer .logoDiv .socials .icon {
  font-size: 30px;
  background: var(--primaryColor);
  border-radius: 0.7rem;
  padding: 7px;
  color: var(--whiteColor);
  transition: background 0.3s;
}
.footer .secContainer .logoDiv .socials .icon:hover {
  background: var(--primaryColorDark);
}
.footer .secContainer .footerLinks {
  display: grid;
  row-gap: 1rem;
  justify-content: center;
  align-items: center;
}
.footer .secContainer .footerLinks .linkTitle {
  padding-bottom: 0.5rem;
  color: var(--primaryColorDark);
  font-weight: 600;
}
.footer .secContainer .footerLinks li {
  list-style-type: none;
}
.footer .secContainer .footerLinks li:hover {
  transform: translateY(-3px);
}
.footer .secContainer .footerLinks li:hover a {
  color: var(--primaryColor);
  opacity: 1;
}
.footer .secContainer .footerLinks a {
  color: var(--primaryColor);
  opacity: 0.6;
  font-weight: 500;
  text-decoration: none;
}
.footer .footerReact {
  margin-top: 10px;
}
.footer .footerReact span {
  color: var(--orangeColor);
  font-size: 16px;
  font-weight: 600;
}
.footer .footerReact li {
  justify-content: center;
  color: var(--primaryColor);
  font-weight: 500;
}

@media screen and (min-width: 448px) {
  .footer .secContainer {
    text-align: center;
    align-items: center;
  }
}
@media screen and (min-width: 640px) {
  .footer .secContainer {
    flex-direction: row;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 960px) {
  .footer .secContainer {
    padding: 2rem 0;
    padding: 15px !important;
  }
}/*# sourceMappingURL=footer.css.map */